#logoBar {
  width: 30vw;
  height: auto;
  color: rgb(0, 91, 32);
  font-family: "Comic Sans MS", cursive;
}

#siteLogo {
  width: 100%;
}

body {
  display: flex;
  background-color: rgb(181, 255, 178);
}

#staffGallery {
  width: 70vw;
  display: inherit;
}

.galleryImage {
  width: 100%;
  height: auto;
}

.card {
  display: inherit;
  height: 35vw;
  /* padding: 5%; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 218, 54);
  border-style: solid;
  border-radius: 15px;
  margin: 1%;
}

@media (width <= 600px) {
  body {
    flex-direction: column;
  }
  #logoBar {
    width: 100vw;
  }
  #staffGallery {
    width: 100vw;
    /* justify-items: center; */
  }
}
